* {
    font-family: "Ojuju", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu-icon {
    display: none;
}

body {
    background: rgb(33, 41, 52);
    background: linear-gradient(164deg,
            rgba(33, 41, 52, 1) 46%,
            rgba(216, 76, 147, 1) 56%);
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    width: 80%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}



nav {
    width: 100%;
    text-align: right;
}

li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

.nav-link {
    cursor: pointer;
    text-decoration: none;
    color: #000000;
    font-size: 14px;
}

.nav-link:hover {
    color: #FB5283;
    transition: 0.5s ease-in-out;
    font-size: 18px;
}

.container {
    display: flex;
    align-items: center;
}

.container img {
    width: 50%;
    height: auto;
}

.container .texto {
    width: 50%;
    padding: 0 20px;
}

.container h2 {
    font-size: 24px;
}

.container p {
    font-size: 16px;
}

.container logo-psn {
    width: 50px;
    margin: 30px 0;
}

.img-principal {
    display: flex;
    margin-top: 50px;
}

.img-principal img {
    width: 100%;
    height: auto;

}

.container-2 {
    display: flex;
    align-items: center;
}

.container-2 img {
    width: 50%;
    height: auto;
    margin-top: 90px;
}

.container-2 .texto {
    width: 50%;
    padding: 0 20px;
}

.container-2 h2 {
    position: relative;
    font-size: 50px;
    color: #000;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 50px;
}


.container-2 p {
    position: relative;
    top: 30px;
    font-size: 30px;
    color: #707070;
    font-weight: lighter;
}


.texto button {
    display: flex;
    align-items: center;
    width: 190px;
    height: 60px;
    border: none;
    font-size: 22px;
    outline: none;
    color: #FFF;
    border-radius: 10px;
    cursor: pointer;
    background: rgb(25, 102, 229);
    background: linear-gradient(74deg,
            rgba(25, 102, 229, 1) 34%,
            rgba(33, 41, 52, 1) 48%);
    transition: all 0.5s ease-in-out;
    margin-left: 34%;
    margin-top: 8%;
    padding-left: 6%;
}

.texto:hover button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 28px;
}

.ps5 img {
    width: 100%;
    margin-top: 80px;
}

.conheca button {
    display: flex;
    align-items: center;
    width: 190px;
    height: 60px;
    border: none;
    font-size: 22px;
    outline: none;
    color: #FFF;
    border-radius: 10px;
    cursor: pointer;
    background: rgb(25, 102, 229);
    background: linear-gradient(74deg,
            rgba(25, 102, 229, 1) 34%,
            rgba(33, 41, 52, 1) 48%);
    transition: all 0.5s ease-in-out;
    margin-left: 10%;
    margin-top: 10%;
    padding-left: 23%;

}

.conheca:hover button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 28px;
}




.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links img {
    height: 40px;
    margin: 20px;
    cursor: pointer;
    bottom: 20px;
    margin-bottom: 300px;
    margin-top: 100px;
}

.menu-icon {
    width: 25px;
    margin-right: 15px;
    display: none;
}

@media(max-width: 760px) {

    .body {
        border-radius: none;
    }

    .container {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        overflow: auto;
    }

    .row {
        flex-direction: column-reverse;
    }

    #menu-list {
        position: relative;
        top: 60px;
        left: 60px;
        overflow: hidden;
        transition: all 0.8s ease-in-out;
       
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

  .navbar img {
    width: 25px;
  }
    .nav-li {
        display: block;
        margin-top: 5px;
    }

    .nav-link {
        font-size: 20px;
        text-align: center;
        background-color: #b4ccbe;
    }

    .social-links {
        display: center;
        margin-top: 30px;
    }

.container-2 h2 {
    font-size: 40px;
    margin-left: -90%;
    align-items: center;
    margin-top: -10px;
}

.container-2 img{
    margin-top: 90%;
    
}

.container-2 button{
    margin-left: -10px;
    margin-top: 200px;
}


.container-2 p {
    display: none;
}


}